/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}
/*mediam devices (landscape phones, 576px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1rem;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*Extra Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .overlay {
    margin-top: 170px;
  }
}

/*Extra Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
  .overlay {
    margin-top: 250px;
  }
}
/* <header class="header py-3">
      <div class="container d-flex justify-content-between align-items-center">
        <a href="#" class="logo">ECHOES OF INFLUENCE</a>
        <nav>
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#home">HOME</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#about-khalid">ABOUT KHALLID</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#purchase">PURCHASE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">CONTACT</a>
            </li>
          </ul>
        </nav>
      </div>
    </header> */
