.nav-button {
  background: #00cfff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
i {
  margin-right: 10px;
}

.navbar-logo {
  padding: 15px;
  color: rgb(250, 250, 250);
}
.nav-item {
  background: transparent;
}
.navbar-mainbg {
  background-color: #ad0000;
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: rgb(245, 245, 245);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px;
  text-transform: uppercase;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent > ul > li.active > a {
  color: rgb(40, 184, 216);
  background-color: transparent;
  transition: 0.7s;
}

#navbarSupportedContent a:not(:only-child)::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child)::after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: rgb(250, 250, 250);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgb(250, 250, 250);
  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right::before,
.hori-selector .left::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ab0000;
}

.hori-selector .right::before {
  bottom: 0px;
  right: -25px;
}

.hori-selector .left::before {
  bottom: 0px;
  left: -25px;
}

body {
  font-family: "Open Sans", sans-serif;
}
.header,
.hero,
.purchase,
.footer {
  background-color: #0d1b2a;
}
.header a.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}
/* .nav-link {
        color: white !important;
        font-weight: 500;
      } */
.hero h1,
.purchase h2,
.contact h2,
.about h2 {
  font-family: "Oswald", sans-serif;
}
.hero h1 span {
  color: #c40000;
}
.highlight {
  background-color: #c40000;
  padding: 15px 25px;
  border-radius: 5px;
  display: inline-block;
}
.highlight p {
  color: white;
  font-size: 1.2rem;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
blockquote {
  border-left: 5px solid #c40000;
  padding-left: 20px;
  margin: 30px 0;
  font-style: italic;
  color: #c40000;
}
.button {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  transition: 0.3s ease;
}
.buy {
  background-color: #c40000;
  color: white;
  margin-right: 20px;
}
.sample {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.footer p,
.footer a {
  color: white;
  font-size: 0.9rem;
}
#backToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 999;
  border: none;
  outline: none;
  background-color: #000083ba;
  color: #ffff;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 50%;
  font-size: 20px;
  display: none; /* শুরুতে লুকানো */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
#backToTopBtn {
}
#backToTopBtn:hover {
  /* background-color: #0056b3; */
  transform: scale(1.1);
}
